nav{
 animation: fadeIn 2s; 
}

.fade-in {

  animation: fadeIn 4s;

}



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes nav {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}